In [83]:
import pandas as pd
import os
import json
import glob
import sqlite3

In [90]:
#ouvert les paramètres décrits dans le fichier JSON
with open('../parameters.json') as json_data:
    params = json.load(json_data)

In [91]:
params

{'DATABASE': {'GAS_DB': 'gas.db'},
 'DIRECTORIES': {'DATA_DIR': '../../data', 'TMP_DIR': '../../tmp'},
 'FILES': {'PRICE_FILE': 'prices.p',
  'SERVICE_FILE': 'Services.p',
  'STATION_FILE': 'Stations.p'}}

In [92]:
#utilisation des paramètres pour créer un DATA et TMP
DATA_DIR = params['DIRECTORIES']['DATA_DIR']
TMP_DIR = params['DIRECTORIES']['TMP_DIR']
PRICE_FILE = params['FILES']['PRICE_FILE']
STATION_FILE = params['FILES']['STATION_FILE']
SERVICE_FILE = params['FILES']['SERVICE_FILE']
GAS_DB = os.path.join(DATA_DIR, params['DATABASE']['GAS_DB'])

#Alernatives à la méthode avec paramètre JSON (paramètre en durs)
#répertoire de données
#données
DATA_DIR = "../../data"

#repertoire temporaire
TMP_DIR = "../../tmp"

In [41]:
gas_files = glob.glob(os.path.join(DATA_DIR,"Prix*.zip"))

In [76]:
stations_file = 'Stations2016.zip'
service_file = 'Services2016.zip'

In [15]:
#ouverture de la table
df2014 = pd.read_csv(os.path.join(DATA_DIR, gas_files[0]), sep=";", header=None, dtype = {1 : str})
df2014.columns = ['id_stations', 
                  'code_postal',
                  'type_station', 
                  'latitude',
                  'longitude',
                  'date_releve',
                  'type_carburant', 
                 'libelle_carburant',
                  'prix']

In [28]:
df2014.head()

,id_stations,code_postal,type_station,latitude,longitude,date_releve,type_carburant,libelle_carburant,prix
0,1000001,01000,R,4620114.0,519791.0,2014-01-02 11:08:03,1.0,Gazole,1304.0
1,1000001,01000,R,4620114.0,519791.0,2014-01-04 09:54:03,1.0,Gazole,1304.0
2,1000001,01000,R,4620114.0,519791.0,2014-01-05 10:27:09,1.0,Gazole,1304.0
3,1000001,01000,R,4620114.0,519791.0,2014-01-06 09:07:51,1.0,Gazole,1304.0
4,1000001,01000,R,4620114.0,519791.0,2014-01-07 09:23:56,1.0,Gazole,1304.0

In [45]:
%%timeit

#concatenation des années

dfall = pd.DataFrame()

for year in gas_files:
    df = pd.read_csv(year, sep=";", header=None, dtype = {1 : str})

    df.columns = ['id_stations', 
                  'code_postal',
                  'type_station', 
                  'latitude',
                  'longitude',
                  'date_releve',
                  'type_carburant', 
                 'libelle_carburant',
                  'prix']
                     
    dfall = pd.concat([dfall, df], axis=0)
dfall.shap

In [53]:
assert dfall.shape[1] == 9, "Pas le bon nombre de colonnes"

In [39]:
#donne la liste des fichiers
import glob

gas_files = glob.glob(os.path.join(DATA_DIR,"Prix*.zip"))

In [40]:
gas_files

['../../data\\Prix2007.zip',
 '../../data\\Prix2008.zip',
 '../../data\\Prix2009.zip',
 '../../data\\Prix2010.zip',
 '../../data\\Prix2011.zip',
 '../../data\\Prix2012.zip',
 '../../data\\Prix2013.zip',
 '../../data\\Prix2014.zip',
 '../../data\\Prix2015.zip',
 '../../data\\Prix2016.zip']

In [77]:
dfstations = pd.read_csv(os.path.join(DATA_DIR, stations_file),sep ="|", encoding ='utf-8', header = None, dtype = {1 : str})

dfstations.columns = ['id_station', 'code_postal', 'type_de_station', 'latitude', 'longitude', 'adresse', 'ville']

In [65]:
dfstations.head()

,id_station,code_postal,type_de_station,latitude,longitude,adresse,ville
0,1000001,01000,R,4.620114e+06,519791.000000,596 AVENUE DE TREVOUX,SAINT-DENIS-LèS-BOURG
1,1000002,01000,R,4.621842e+06,522767.000000,16 Avenue de Marboz,BOURG-EN-BRESSE
2,1000004,01000,R,4.618836e+06,524447.000000,20 Avenue du Maréchal Juin,Bourg-en-Bresse
3,1000005,01000,R,4.620094e+06,519942.024022,642 Avenue de Trévoux,SAINT-DENIS-LèS-BOURG
4,1000006,01000,R,4.620754e+06,523758.000000,1 Boulevard John Kennedy,BOURG-EN-BRESSE

In [78]:
dfservices = pd.read_csv(os.path.join(DATA_DIR, service_file),sep ="|", encoding ='utf-8', header = None, dtype = {1 : str})

dfservices.columns = ['id_station', 'code_postal', 'type_de_station', 'latitude', 'longitude', 'services']

In [64]:
dfservices.head()

,id_station,code_postal,type_de_station,latitude,longitude,services
0,1000001,01000,R,4.620114e+06,519791.000000,"Station de gonflage,Vente de gaz domestique,Au..."
1,1000002,01000,R,4.621842e+06,522767.000000,"Vente de gaz domestique,Automate CB"
2,1000004,01000,R,4.618836e+06,524447.000000,"Carburant qualité supérieure,GPL,Toilettes pub..."
3,1000005,01000,R,4.620094e+06,519942.024022,"Carburant qualité supérieure,Station de lavage..."
4,1000006,01000,R,4.620754e+06,523758.000000,Vente de gaz domestique

In [81]:
dfall.to_pickle(os.path.join(DATA_DIR, PRICE_FILE))
dfstations.to_pickle(os.path.join(DATA_DIR, STATION_FILE))
dfservices.to_pickle(os.path.join(DATA_DIR, SERVICE_FILE))

In [82]:
# test le temps de lecture
%%timeit
testdf = pd.read_pickle(os.path.join(DATA_DIR, PRICE_FILE))

1 loop, best of 3: 5.34 s per loop

In [107]:
cnx = sqlite3.connect(GAS_DB)
dfall.to_sql('prices', cnx ,index = False, if_exists = "replace")

In [108]:
dfservices.to_sql('Services', cnx, index = False, if_exists = "replace")
dfstations.to_sql('Stations', cnx, index = False, if_exists = "replace")

OperationalError: table "Services" already exists

In [103]:
pd.read_sql_query('select * from prices where code_postal ="13001"', cnx)

,id_stations,code_postal,type_station,latitude,longitude,date_releve,type_carburant,libelle_carburant,prix
0,13001001.0,13001,R,4330446.0,538957.0,2007-01-11 10:27:23,1.0,Gazole,1039.0
1,13001001.0,13001,R,4330446.0,538957.0,2007-01-15 08:10:34,1.0,Gazole,1024.0
2,13001001.0,13001,R,4330446.0,538957.0,2007-01-18 07:49:51.425658,1.0,Gazole,1014.0
3,13001001.0,13001,R,4330446.0,538957.0,2007-01-29 08:45:27.511952,1.0,Gazole,1018.0
4,13001001.0,13001,R,4330446.0,538957.0,2007-02-07 06:00:00,1.0,Gazole,1027.0
5,13001001.0,13001,R,4330446.0,538957.0,2007-02-22 06:00:00,1.0,Gazole,1018.0
6,13001001.0,13001,R,4330446.0,538957.0,2007-02-27 06:00:00,1.0,Gazole,1029.0
7,13001001.0,13001,R,4330446.0,538957.0,2007-03-02 06:00:00,1.0,Gazole,1039.0
8,13001001.0,13001,R,4330446.0,538957.0,2007-03-15 06:00:00,1.0,Gazole,1044.0
9,13001001.0,13001,R,4330446.0,538957.0,2007-03-24 06:00:00,1.0,Gazole,1040.0
10,13001001.0,13001,R,4330446.0,538957.0,2007-03-29 06:00:00,1.0,Gazole,1052.0
11,13001001.0,13001,R,4330446.0,538957.0,2007-03-31 06:00:00,1.0,Gazole,1056.0
12,13001001.0,13001,R,4330446.0,538957.0,2007-04-03 06:00:00,1.0,Gazole,1066.0
13,13001001.0,13001,R,4330446.0,538957.0,2007-04-04 06:00:00,1.0,Gazole,1074.0
14,13001001.0,13001,R,4330446.0,538957.0,2007-04-14 06:00:00,1.0,Gazole,1079.0
15,13001001.0,13001,R,4330446.0,538957.0,2007-04-26 06:00:00,1.0,Gazole,1084.0
16,13001001.0,13001,R,4330446.0,538957.0,2007-05-03 06:00:00,1.0,Gazole,1089.0
17,13001001.0,13001,R,4330446.0,538957.0,2007-05-15 06:00:00,1.0,Gazole,1084.0
18,13001001.0,13001,R,4330446.0,538957.0,2007-05-22 06:00:00,1.0,Gazole,1094.0
19,13001001.0,13001,R,4330446.0,538957.0,2007-05-30 06:00:00,1.0,Gazole,1090.0
20,13001001.0,13001,R,4330446.0,538957.0,2007-06-16 06:00:00,1.0,Gazole,1099.0
21,13001001.0,13001,R,4330446.0,538957.0,2007-06-23 06:00:00,1.0,Gazole,1079.0
22,13001001.0,13001,R,4330446.0,538957.0,2007-06-27 06:00:00,1.0,Gazole,1089.0
23,13001001.0,13001,R,4330446.0,538957.0,2007-07-10 06:00:00,1.0,Gazole,1099.0
24,13001001.0,13001,R,4330446.0,538957.0,2007-07-12 06:00:00,1.0,Gazole,1104.0
25,13001001.0,13001,R,4330446.0,538957.0,2007-07-27 06:00:00,1.0,Gazole,1093.0
26,13001001.0,13001,R,4330446.0,538957.0,2007-08-01 06:00:00,1.0,Gazole,1103.0
27,13001001.0,13001,R,4330446.0,538957.0,2007-08-02 06:00:00,1.0,Gazole,1099.0
28,13001001.0,13001,R,4330446.0,538957.0,2007-08-25 06:00:00,1.0,Gazole,1105.0
29,13001001.0,13001,R,4330446.0,538957.0,2007-09-05 06:00:00,1.0,Gazole,1109.0
...,...,...,...,...,...,...,...,...,...
1396,13001001.0,13001,R,4330446.0,538957.0,2014-08-29 06:00:00,5.0,E10,1579.0
1397,13001001.0,13001,R,4330446.0,538957.0,2014-09-04 06:00:00,5.0,E10,1579.0
1398,13001001.0,13001,R,4330446.0,538957.0,2014-09-05 06:00:00,5.0,E10,1579.0
1399,13001001.0,13001,R,4330446.0,538957.0,2014-09-12 06:00:00,5.0,E10,1579.0
1400,13001001.0,13001,R,4330446.0,538957.0,2014-09-16 06:00:00,5.0,E10,1569.0
1401,13001001.0,13001,R,4330446.0,538957.0,2014-09-17 06:00:00,5.0,E10,1564.0
1402,13001001.0,13001,R,4330446.0,538957.0,2014-09-23 06:00:00,5.0,E10,1559.0
1403,13001001.0,13001,R,4330446.0,538957.0,2014-09-24 06:00:00,5.0,E10,1559.0
1404,13001001.0,13001,R,4330446.0,538957.0,2014-10-02 06:00:00,5.0,E10,1564.0
1405,13001001.0,13001,R,4330446.0,538957.0,2014-10-04 06:00:00,5.0,E10,1564.0
1406,13001001.0,13001,R,4330446.0,538957.0,2014-10-08 06:00:00,5.0,E10,1559.0
1407,13001001.0,13001,R,4330446.0,538957.0,2014-10-09 06:00:00,5.0,E10,1559.0
1408,13001001.0,13001,R,4330446.0,538957.0,2014-10-10 06:00:00,5.0,E10,1549.0
1409,13001001.0,13001,R,4330446.0,538957.0,2014-10-11 06:00:00,5.0,E10,1539.0
1410,13001001.0,13001,R,4330446.0,538957.0,2014-10-14 06:00:00,5.0,E10,1524.0
1411,13001001.0,13001,R,4330446.0,538957.0,2014-10-15 06:00:00,5.0,E10,1509.0
1412,13001001.0,13001,R,4330446.0,538957.0,2014-10-16 06:00:00,5.0,E10,1499.0
1413,13001001.0,13001,R,4330446.0,538957.0,2014-11-01 06:00:00,5.0,E10,1499.0
1414,13001001.0,13001,R,4330446.0,538957.0,2014-11-11 06:00:00,5.0,E10,1509.0
1415,13001001.0,13001,R,4330446.0,538957.0,2014-11-15 06:00:00,5.0,E10,1499.0
1416,13001001.0,13001,R,4330446.0,538957.0,2014-11-18 06:00:00,5.0,E10,1484.0
1417,13001001.0,13001,R,4330446.0,538957.0,2014-11-19 06:00:00,5.0,E10,1479.0
1418,13001001.0,13001,R,4330446.0,538957.0,2014-11-27 06:00:00,5.0,E10,1474.0
1419,13001001.0,13001,R,4330446.0,538957.0,2014-11-28 06:00:00,5.0,E10,1469.0
1420,13001001.0,13001,R,4330446.0,538957.0,2014-11-29 06:00:00,5.0,E10,1459.0
1421,13001001.0,13001,R,4330446.0,538957.0,2014-12-02 06:00:00,5.0,E10,1449.0
1422,13001001.0,13001,R,4330446.0,538957.0,2014-12-03 06:00:00,5.0,E10,1439.0
1423,13001001.0,13001,R,4330446.0,538957.0,2014-12-12 06:00:00,5.0,E10,1434.0
1424,13001001.0,13001,R,4330446.0,538957.0,2014-12-17 06:00:00,5.0,E10,1424.0
1425,13001001.0,13001,R,4330446.0,538957.0,None,NaN,None,NaN